.wrapper{
	width:950px;
	height:600px;
	border: 2px solid black;
}

.sidebar{
	min-height:100px; 
	width:20%;
	background-color:red;
	float:left;
	
}

.content{
	float:left;
	width:60%;
	min-height:100px;
	background-color:blue;
}

.managerContent{
	background-color:green;
	min-height:30px;
	
}

.managerContent .buttonStyle{
	margin-left:30px;
	
}

.managerContent button{
	display:inline-block;
	float:left;
}

.textDescription{
	min-height:100px;
	margin-left:10px; 
	margin-right:auto;
}



.managerButtons{
	float:left;
	width:20%;
	min-height:100px;
	background-color:red;
}

.studObject{ 
    border: 2px solid  black; 
    
}

#dialog{
	width:200px; 
	height:200px; 
}

#selectable  .ui-selected { background: #F39814; color: white; }
#selectable {height:300px;
                        overflow : scroll;}

#controlButton {float:right; top:-100px;}

#searchButton {float : right;}