<!DOCTYPE HTML>
<html>

<head>
    <!-- Тег meta для указания кодировки -->
    <meta charset="utf-8">
    <title>Something about something </title>
    <!-- polska -->
    <script src="js/libs/jquery-1.12.0.js"></script>
    <script src="js/libs/underscore.js"></script>
    <script src="js/libs/jquery-ui.js"></script>
    <script src="js/libs/jquery.tmpl.js"></script>
    <script src="js/app.js"></script>
    <!-- Sisyka-masisyka -->

    <link rel="stylesheet" href="css/libs/jquery-ui.css">

    <link rel="stylesheet" href="css/app.css">
</head>

<body>

    <div class="wrapper">
        <div class="sidebar">
            <label> Check the subjects</label>
            <div>
                <input id="Mathematics" type="checkbox" value="Mathematics" name="subject" >
                <label> Mathematicks</label>
            </div>
            <div>
                <input id="Literature" type="checkbox" value="Literature" name="subject">
                <label> Literature </label>
            </div>
            <div>
                <input id="Geography" type="checkbox" value="Geography" name="subject">
                <label> Geographike </label>
            </div>
        </div>
        <div class="content">
            <div class="managerContent">
                <input type="checkbox" id="Grade-1"><label for="Grade-1">Grade 1</label>
                <input type="checkbox" id="Grade-2"><label for="Grade-2">Grade 2</label>
                <input type="checkbox" id="Grade-3"><label for="Grade-3">Grade 3</label>
                <input type="checkbox" id="Grade-4"><label for="Grade-4">Grade 4</label>
                <input type="checkbox" id="Grade-5"><label for="Grade-5">Grade 5</label>
            </div>

            <div id="#selectable-container">
                <div id="selectable">

                </div>
            </div>
            <div id="dialog-container"> 
                 </div> 

         </div>
         <div id="controlButton">
                <button id="Add"> Add </button>
                <button id="Delete">Delete </button>
               </div>
           <div id="searchButton">

                <button id="Search-all">Search all </button>
                <button id="Search">Search </button>

                

            </div>

            <template id="unit-item">
                <div class='studObject' id='ui-widget-content'>
                    <p class='studObjectText'> ${title}</p>
                </div>
            </template>


            <template id="selectGrade">
                <option value=${grade} selected> ${grade} </option>
            </template>
<!--
            <script id='gradeItem' type='text/x-jquery-tmpl'>
                {{ each Grades }}
                    <option value=${$value} class='gradeElement'> ${$value} </option>
                {{ /each }}
            </script>-->
            <template id="dialog"> 
                <form> 
                    <p> ${dialogTitle}</p> 
                    <input type="text" id="titleReforme" value=${title} name="title" class="text ui-widget-content ui-corner-all"> 
                     <Br> 
                     <input type="text" id="subjectReforme" value=${subject} name="subject" class="text ui-widget-content ui-corner-all"> 
                        <Br> 
                        <select id="gradeGroup"> 
                            {{each grades}} 

                                {{if selected}} 
                                    <option selected="selected" value=${value} name="grade">${name} </option> 
                                {{else}} 
                                    <option value=${value} name="grade">${name}</option> 
                                {{/if}} 

                            {{/each}}
                        </select> 
                        <input type="button" value="Save" id="saveDialog"> 
                  </form> 
            </template>
            
            <template id="delete-dialog">
                    <form>
                        <p> ${title}</p>
                        <input type="button" value="Delete" id="deleteUnit"> 
                        </form>
                </template>
                
        </body>

  </html>